<div class="page-container">

    <div class="page-card">
        @{
            ViewData["Title"] = "Privacy Policy";
        }
        <h1>@ViewData["Title"]</h1>                                               
       
        <p>  Siba.Solutions ("we," "us," or "our") is committed to protecting the privacy of users ("you" or "your") of our web application (CRM System). 
            This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our Web App.
            Please read this policy carefully to understand our practices regarding your information. </p>

        <a>2. Information We Collect</a>

        <p1>
            We collect two types of information from users:

            a. Personal Information:
            This includes:

            Full name

            Email address

            Contact numbers

            Profile picture

            Address information

            Login credentials (username and password)

            b. Non-Personal Information:
            This includes:

            Browser type and version

            Device type and operating system

            IP address

            Pages viewed and interactions within the Web App
        </p1>

        
    </div>
</div>
